{% extends 'base.html.twig' %}

{% block title %}New Problems{% endblock %}

{% block body %}
    <h1>Create new Problems</h1>

    {{ include('problems/_form.html.twig') }}

    <a href="{{ path('problems_index') }}">back to list</a>
{% endblock %}
