body {
    background-color: lightgray;
}


#map{
    height: 100vh;
    z-index: 0;
}

.addEventButt {
    position: fixed;
    /* Fixed/sticky position */
    bottom: 100px;
    /* Place the button at the bottom of the page */
    right: -20px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 20px;
    /* Some padding */
    border-radius: 35px;
    /* Rounded corners */
    background-color: #fb3;
}

.listEventButt {
    position: fixed;
    /* Fixed/sticky position */
    bottom: 100px;
    /* Place the button at the bottom of the page */
    left: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 20px;
    /* Some padding */
    border-radius: 35px;
    /* Rounded corners */
    background-color: #fb3;
}

.addEventButt:hover {
    background-color: #b20000;
    /* Add a dark-grey background on hover */
    transition-duration: 0.5s;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
